<br>
<p>
Médiatech labor 2 nagyházi oldala. Kód: <a href="https://github.com/magyarb/tagslider">https://github.com/magyarb/tagslider</a>
</p>
<br>
<h2 class="page-header">Login</h2>
<form method="get" action="/users/auth/facebook">
<button color="blue" class="btn btn-default">Login with FB</button>

</form>